python-telegram-bot[webhooks,callback-data,job-queue]
jiter
openai
python-dotenv
deepl
SQLAlchemy
psycopg2-binary
alembic
Jinja2
dnspython
python-magic
prettytable
numpy<2.3.0
pandas
matplotlib
telethon
tqdm
pydantic
