Hola {{ user.mention_html() }}!
Envíame un mensaje de voz y te lo resumiré. Puedes reenviarme mensajes de otros chats, aunque estén en otras apps. También puedes añadirme a tus grupos de chat, donde resumiré automáticamente todas las voz.

Otros comandos disponibles son:
{% for command, description in commands.items() -%}
/{{command}} - {{description}}
{% endfor %}
