*📜 summar\.ee Condiciones del servicio*

Al utilizar *summar.ee*, usted acepta los siguientes términos:

1\. *Privacidad y uso de datos:*
   \- Sus mensajes de voz, traducciones y resúmenes se procesan de forma segura\.
   \- No almacenamos ningún dato personal más allá de lo necesario para el servicio\.
   \- Las transcripciones, traducciones y resúmenes se conservan para su procesamiento y análisis\.

2\. *Exactitud y limitaciones:*.
   \- Aunque nos esforzamos por conseguir una gran precisión, los resultados de la transcripción, traducción y resumen pueden variar\.
   \- Es posible que el bot no funcione perfectamente con una calidad de audio deficiente o mucho ruido de fondo\.

3\. *Uso:*
   \- *summar.ee* es para uso personal y comercial\.
   \- El uso abusivo, ilegal o perjudicial del bot está estrictamente prohibido\.
   \- Nos reservamos el derecho de bloquear o restringir el acceso a los usuarios que violen estos términos\.

4\. *Disponibilidad del servicio:*
   \- Summar.ee* se proporciona «tal cual» y «según disponibilidad»\.
   \- No garantizamos un servicio ininterrumpido y podemos actualizar o modificar el bot en cualquier momento sin previo aviso\.

5\. *Responsabilidad
   \- No nos hacemos responsables de ninguna pérdida, daño o inconveniente causado por el uso de este bot\.
   \- Los usuarios asumen toda la responsabilidad por el uso y la interpretación de las salidas del bot\.

6\. *Actualizaciones de los términos:*
   \- Estos términos pueden ser actualizados periódicamente\. El uso continuado del bot después de los cambios constituye la aceptación de los nuevos términos\.

Al interactuar con *summar\.ee*, usted reconoce que ha leído, entendido y aceptado estos términos\.
