Привет {{ user.mention_html() }},
Отправьте мне голосовое сообщение, и я кратко изложу его для вас. Вы можете пересылать мне сообщения из других чатов, даже если они находятся в других приложениях.

Другие доступные команды:
{% for command, description in commands.items() -%}
/{{command}} - {{description}}
{% endfor %}
