🌟 Премиум в настоящее время активен:
{% for subscription in subscriptions -%}
\- 📅 {{ escape_markdown(subscription.start_date.strftime('%x')) }} \- {{ escape_markdown(subscription.end_date.strftime('%x')) }} @ чат {{ escape_markdown(subscription.chat.title or subscription.chat.username)  }}
{% endfor %}
{% include 'sale_suffix_ru.md.jinja2' %}
Хотите продлить премиум-функции?
