Premium is on SALE right NOW:
{% for premium_period, product in periods_to_products.items() -%}
\- {{ premium_period.value }} days for ⭐{{ product.discounted_price }} \(~{{ product.price }}~ ➡️ {{ '%i' % ((1-product.discounted_price/product.price)*100) }}% OFF\!\)
{% endfor -%}
