Hi {{ user.mention_html() }}!
Schick' mir eine Sprach- oder Audionachrich und ich erstelle eine Zusammenfassung für dich. Du kannst mir Nachrichten aus anderen Chats weiterleiten, auch wenn sie aus anderen Apps stammen. Ich kann auch in Gruppenchats hinzugefügt werden, wo ich alle Sprachnachrichten automatisch zusammenfasse.

Weitere verfügbare Befehle sind:
{% for command, description in commands.items() -%}
/{{command}} - {{description}}
{% endfor %}
