Es läuft eine **Aktion**:
{% for premium_period, product in periods_to_products.items() -%}
\- {{ premium_period.value }} Tage für ⭐{{ product.discounted_price }} \(~{{ product.price }}~ ➡️ {{ '%i' % ((1-product.discounted_price/product.price)*100) }}% Rabatt\!\)
{% endfor -%}
