name: SSH Deployment

on:
  push:
    branches: [master]
  workflow_dispatch: # Allows manual triggering

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        env:
          HOST: ${{ secrets.SERVER_HOST }}
          USER: ${{ secrets.SERVER_USER }}
          SERVICE: ${{ secrets.SERVICE_NAME }}
          REPO_PATH: ${{ secrets.REPO_PATH }}
        run: |
          ssh -i ~/.ssh/deploy_key -o IdentitiesOnly=yes $USER@$HOST << EOF

            # stop the supervisor process
            supervisorctl stop $SERVICE

            # Pull latest changes
            cd $REPO_PATH
            git pull --rebase

            # switch to the virtual environment
            source .venv/bin/activate

            # Run migrations
            uv run alembic upgrade head

            # stop the supervisor process
            supervisorctl start $SERVICE
          EOF
